section.sel-item(itemprop="itemListElement", itemscope, itemtype="http://schema.org/BlogPosting")
	header
		h2.sel-title
			a(href="/announcements/#{slug}", itemprop="url")
				span(itemprop="headline")!= title
		div.announcement-label-container
			span.announcement-label announcement :&nbsp;
			time.sel-info(itemprop="dateCreated", datetime="#{date_entered_microdata}")= date_entered
	.sel-teaser
		p.teaser-text
			span(itemprop="description")!= teaser
			| ...
			a(href="/announcements/#{slug}") [read the rest]