if pgNum > 1
	.prev-page.page-changer &lt;&lt;

if pgNum < pageCount
	.next-page.page-changer &gt;&gt;

.page-info-content
	if pageStart != pageEnd
		| #{tagType} #{pageStart}-#{pageEnd}
	else 
		| #{tagType.slice(0, tagType.length -1)} #{pageStart}
	| (of #{setLength}) |
	span.all-pages.page-changer see all