for q in locals
	section.sel-block
		h3
			span.header-from from&nbsp;
			a(href="/selections/#{q.selection.slug}") "#{q.selection.title}"
				- var title = q.selection.title
				if title.charAt(title.length - 1) != '?'
					| ,
				| &nbsp;by #{q.selection.author}&nbsp;
				span.sel-dates (#{q.selection.pub_year})
		ul.quotation-list
			li.quotation-list-item
				span.quotation-marker &#8220;
				a.quotation-text.random-quot(href="/highlights/#{q.quotation.id}")!= q.quotation.quotation
		.read-more
			a(href="/selections/#{q.selection.slug}") read this full selection &raquo;
			a(href="/highlights/#author/#{q.selection.author_id}") + more highlights from #{q.selection.author}