h2.another-specimen random specimen
.quotation-box-quotation!= quotation.quotation
.quotation-box-citation
	a(href="/selections/#{selection.slug}")
		&#8212; "!{selection.source}," #{selection.author} (#{selection.pub_year})
.quotation-box-followup
	a(href="/selections/#{selection.slug}") read this selection &raquo;
	br
	span.another-specimen see another specimen &raquo;