section.sel-item(itemprop="itemListElement", itemscope, itemtype="http://schema.org/CreativeWork")
	h2.sel-title
		a(href="/selections/#{slug}", itemprop="url")
			span(itemprop="name")
				if selection_title
					!{selection_title}
				else
					!{source.section_title}
	.sel-info
		span(itemprop="author", itemscope, itemtype="http://schema.org/Person")
			a(href="/authors/#{source.author.slug}", itemprop="url")
				span(itemprop="name")= source.author.full_name
				meta(itemprop="familyName", content="#{source.author.last_name}")
				meta(itemprop="givenName", content="#{source.author.first_name}")
			.
		if excerpt
			| From !{source_display}.
		else if source.volume_title
			| From !{source.root_work}.
		a(href="/timeline/##{source.pub_year}", itemprop="dateCreated", content="#{source.pub_year}")= source.date_display
		.
		span.posted-date
			| (Posted:
			time(itemprop="datePublished", datetime="#{date_entered_microdata}")= date_entered
			| .)
	.sel-teaser
		span.sel-teaser-text.hyphenate(itemprop="description")!= teaser
		span.ellipsis &nbsp;...&nbsp;
		a(href="/selections/#{slug}") [read the rest]
