li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/CreativeWork")
	span(itemprop="author", itemscope, itemtype="http://schema.org/Person")
		a(href="/authors/#{author.slug}", itemprop="url").source-author
			span(itemprop="name") #{author.last_name}, #{author.first_name}.&nbsp;
	span(itemprop="name")!= full_title
	| .&nbsp;
	a(href="/timeline/##{pub_year}", itemprop="dateCreated", datetime="pub_year").source-date= date_display
	| .&nbsp;
	if translator
		| Trans.
		span.source-translator= translator
		| ,
		span.source-translation-year= translation_year
		| .
	ul.source-inner-list
		li
			if selections.length > 1
				| Selections:&nbsp;
			else
				| Selection:&nbsp;
			ul.source-selection-list
				for sel in selections
					li
						a(href="/selections/#{sel.slug}")= sel.title
		li Follow-up:&nbsp;
			if scanned_text
				a(href="#{scanned_text}", target="_blank").source-link [scanned text]&nbsp;
			if digital_text
				a(href="#{digital_text}", target="_blank").source-link [digital text]&nbsp;
			if info_url
				a(href="#{info_url}", target="_blank").source-link [information]&nbsp;
				