extends ./base.jade

block title
	title #{ann.title} | the Anthologist

block styles
	link(rel="stylesheet", type="text/css", href="#{STATIC_URL}anthologist/stylesheets/css/announcement-main.css")

block scripts
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/quotation-box-views.js")
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/quotation-box-app.js")
	
	// From sharethis.com
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "1f17416e-852e-4df7-a049-badc8989a78d"});</script>
	
block content
	#main(itemprop="mainContentOfPage")
		article#main-content(itemscope, itemtype="http://www.schema.org/BlogPosting")
			{% autoescape off %}
			header#content-heading
				span#tag-type announcement
				span#browse-tag-type
					a(href="/announcements") &raquo; browse all announcements
				h1(itemprop="headline")!= ann.title
				#adjustor-container
					span.adjustor-section-label date posted :&nbsp;
					time(itemprop="dateCreated", datetime="#{ann.date_entered.isoformat()}")= ann.date_entered|date:"d F Y, P"
			
			#body-container(itemprop="articleBody")!= ann.text
			{% endautoescape %}
	#sidebar(itemscope, itemtype="WPSideBar")
		#sidebar-share
			h2.sidebar-heading share
			.share-icons	
				// From sharethis.com
				<span class='st_facebook'></span>
				<span class='st_twitter'></span>
				<span class='st_googleplus'></span>
				<span class='st_email'></span>
				<span class='st_sharethis'></span>
		aside#quotation-container
		