extends ./base.jade

block title
	title A #{quotation.selection.source.author.last_name} Highlight | the Anthologist

block scripts
	script(type="application/javascript", src="#{STATIC_URL}anthologist/builds/quotation-main-built.js")

block styles
	<link href='http://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic' rel='stylesheet' type='text/css'>
	link(rel="stylesheet", type="text/css", href="#{STATIC_URL}anthologist/stylesheets/css/highlights-main.css")

block head
	meta(name="description", content!="{{ text|striptags }}")

block content
	#main(itemprop="mainContentOfPage")
		#main-content
			header#main-heading
				h1 highlights
				#main-description
					| Choice specimens from <cite>the Anthologist</cite>'s curated
					| collection of public domain texts.
			{% autoescape off %}
			section#quotation-text
				.quotation-marker#left-marker &#8220;
				.quotation-marker#right-marker &#8221;
				#quotation-text-content !{text}
			a(href="/selections/#{quotation.selection.slug}")#quotation-citation
					| <em>from</em>
					| "#{quotation.selection}"&nbsp;(#{quotation.selection.source.date_display})
					br
					| <em>by</em>
					| #{quotation.selection.source.author.full_name}
					br
					span#read-full.small-command read the full selection
			{% endautoescape %}
	#sidebar(itemscope, itemtype="http://www.schema.org/WPSideBar")
		section#read-on-links
			h2.sidebar-heading read on
			ul
				li.sidebar-block
					a(href="/selections/#{quotation.selection.slug}") View this full selection: "#{quotation.selection}"
				li.sidebar-block
					a(href="/highlights/#author/#{quotation.selection.source.author.pk}") See more highlights from #{quotation.selection.source.author.full_name}
				li.sidebar-block
					a(href="/highlights/random") Enjoy a random highlight
				li.sidebar-block 
					a(href="/highlights") Browse all the highlights
				li.sidebar-block
					a(href="/") Visit <cite>the Anthologist</cite>'s homepage
		section#sidebar-share.sidebar-section
			h2.sidebar-heading share
			.share-icons	
				// From sharethis.com
				<span class='st_facebook'></span>
				<span class='st_twitter'></span>
				<span class='st_googleplus'></span>
				<span class='st_email'></span>
				<span class='st_sharethis'></span>

block bottomscripts
	// From sharethis.com
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "1f17416e-852e-4df7-a049-badc8989a78d"});</script>