extends ./base.jade

block scripts	
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/libraries/hyphenator.js")
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/home-contents-views.js")
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/home-contents-app.js")
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/home.js")
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/quotation-box-views.js")
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/quotation-box-app.js")
	
block styles
	link(rel="stylesheet/less", type="text/css", href="#{STATIC_URL}anthologist/css/home.less")
	link(rel="stylesheet/less", type="text/css", href="#{STATIC_URL}anthologist/css/about.less")
	link(rel="stylesheet/less", type="text/css", href="#{STATIC_URL}anthologist/css/selection-list.less")
	link(rel="stylesheet/less", type="text/css", href="#{STATIC_URL}anthologist/css/quotation-box.less")

block header

block content
	header#title-heading(itemscope, itemtype="http://www.schema.org/WPHeader")
		
		img(src="/static/anthologist/images/leaf-border-green-white.jpg", alt="leafy border").leafy-border
		
		#title-container
			meta(itemprop="name", content="the Anthologist")
			img(src="/static/anthologist/images/title-alone.jpg", alt="the Anthologist", title="the Anthologist")#title-image
			img(src="/static/anthologist/images/melancholic-scholar.jpg", alt="a melancholic scholar")#scholar-image
			#title-intro-text(itemprop="about")
				| offers a dynamic, curated collection of digestible selections from writing in the public domain,
				| catalogued and connected to encourage exploration.
				span#open-about [Read more about the site <span class="arrow-down"></span>]
		
	#about-container(itemprop="about")
		#about-text
			span#close-about [close]
			include includes/about-text.html
	
	img(src="/static/anthologist/images/leaf-border-green-white-in.jpg", alt="leafy border").leafy-border
	
	#body-container
		nav#sidebar(itemscope, itemtype="http://www.schema.org/SiteNavigationElement")
			include includes/home-sidebar.jade

		section#recent-contents-container(itemprop="mainContentOfPage")
			#recent-contents(itemscope, itemtype="http://www.schema.org/ItemList")
				header#recent-contents-title
					h1(itemprop="name") recent contents
					div showing
						select#recent-contents-filter
							option(value="selAndAnn", selected) selections &amp; announcements
							option(value="selOnly") selections only
							option(value="annOnly") announcements only
				#list-container
					//populated by home-contents-app.js
				#recent-contents-followup-container
					a(href="/selections").recent-contents-followup browse all selections
					a(href="/announcements").recent-contents-followup browse all announcements
		
			