extends ./base.jade

block title
	title #{selection} | the Anthologist

block scripts
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/libraries/hyphenator.js")
	script(type="application/javascript", src="#{STATIC_URL}anthologist/js/selection.js")
	
	// From sharethis.com
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "1f17416e-852e-4df7-a049-badc8989a78d"});</script>

block styles
	link(rel="stylesheet/less", type="text/css", href="#{STATIC_URL}anthologist/css/selection.less")
	if selection.stylesheet
		//Called when a selection calls for its own specific stylesheet.
		link(rel="stylesheet/less", type="text/css", href="#{STATIC_URL}anthologist/css/selection-specific/#{selection.stylesheet}.css")

block head
	meta(name="description", content!="{{ selection.teaser }}")

block content
	#main(itemprop="mainContentOfPage")
	
		#close-sidebar.sidebar-toggle [close sidebar]
		#open-sidebar.sidebar-toggle [open sidebar]	
			
		article#main-content(itemscope, itemtype="http://schema.org/CreativeWork")		
			{% autoescape off %}

			header#content-header
				hgroup
					h1(itemprop="name").content-header-title!= selection
					h2.content-header-source
						span(itemprop="author", itemscope, itemtype="http://schema.org/Person")
							meta(itemprop="familyName", content="#{selection.source.author.last_name}")
							meta(itemprop="givenName", content="#{selection.source.author.first_name}")
							a(href="/authors/#{selection.source.author.slug}", itemprop="url" )
								span(itemprop="name")= selection.author
						| &nbsp;&#8212;
						a(href="/timeline/##{selection.source.pub_year}", itemprop="dateCreated", datetime="#{selection.source.pub_year}")= selection.source.date_display
				.content-header-info
					if selection.selection_title
						| From #{selection.source_display}.
					elif selection.source.volume_title
						| From <cite>#{selection.source.volume_title}</cite>.
					if selection.source.translator
						| Translated from
						a(href="/languages/#{selection.source.language.name}")= selection.source.language.name
						| &nbsp;by #{selection.source.translator} in #{selection.source.translation_year}.
					hr(width="60%")
					if selection.comment_text
						.content-header-comment!= selection.comment_text
						hr(width="60%")		
					if selection.comment_intro
						.content-header-comment!= selection.comment_intro
						hr(width="60%")

			for image in selection.image_set.all
				.image-container
					img(src="#{image.image}", title="#{image.title}").main-image
			
			section#content-body(itemprop="text").hyphenate!= selection.text
				//class="hyphenate" calls on hyphenator.js

			section#content-postscript
				include includes/selection-postscript.jade

			{% endautoescape %}
				
	#sidebar(itemscope, itemtype="http://www.schema.org/WPSideBar")
		include includes/selection-sidebar.jade