h2#highlight-author.highlight-author-h
  span.header-from from&nbsp;
  a(href='/authors/#{author.slug}')= author.full_name

for s in selections
  section.hl-sel-block
    h3.hl-subhead
      a(href="/selections/#{s.slug}") &ldquo;#{s.title}&rdquo;&nbsp;
        span.sel-dates (#{s.date_display})
    ul(data-sel="#{s.id}")
      for q in s.quotations
        li.hl-i
          span.hl-quotationmark &#8220;
          a.hl-quote(href="/highlights/#{q.id}")!= q.quotation
    .hl-more
      div
        a(href="/selections/#{s.slug}") read this full selection &raquo;