a(href="/highlights/#{quotation.id}").rq-text.hyphenate!= quotation.quotation

.rq-citation: a(href="/selections/#{selection.slug}")
  | &mdash; from "#{selection.title}" by #{selection.author}&nbsp;(#{selection.pub_year})