{% extends "base.html" %}

{% block title %}{{ selection }}, by {{ selection.get_author }} - The Gentle Reader{% endblock %}

{% block meta %}
meta(property="og:description", content="{{ selection.get_teaser|striptags }}")
meta(property="og:title", content="{{ selection }}, by {{ selection.get_author }} - The Gentle Reader")
meta(property="og:url", content="http://thegentlereader.net/selections/{{ selection.slug }}/")
meta(property="og:image", content="http://thegentlereader.net/static/gentlereader/images/thumb-skeleton-thinking.png")
meta(name="description", content="{{ selection }}, by {{ selection.get_author }}. {% if selection.from_display_safe %}From {{ selection.from_display_safe }}.{% endif %} Brought to you by The Gentle Reader.")
{% endblock %}

// styles
{% block styles %}

{% if selection.stylesheet %}
// If the selection has its own stylesheet, get it.
link(rel="stylesheet", type="text/css", href="{{ STATIC_URL }}gentlereader/style/css/selection-specific/{{ selection.stylesheet }}.css")
{% endif %}

{% endblock %}

// scripts
{% block bottomscripts %}
<!-- grunt-inactive: dev
script(src="{{ STATIC_URL }}gentlereader/scripts/selection-main.js")
endgrunt -->

<!-- grunt-active: build -->
script
  require(['{{ STATIC_URL }}gentlereader/build/common-build.js'], function(common) {
    require(['selection-main'], function(selectionMain) {});
  });
<!-- endgrunt -->
{% endblock %}

{% block main %}

// CONTENT
article.content

  // selection header
  header

    // title, author, date
    .s-headline
      h1.s-title {{ selection.get_title }}
      .s-authordate
        {% with author=selection.get_author year=selection.source.date_display %}
        | <a href="/authors/{{ source.author.slug }}" title="Author: {{ author }}" rel="author">
        | {{ author }}</a> &mdash; <a href="/timeline\#{{ year }}" title="Published in {{ year }}">
        | {{ year }}</a>
        {% endwith %}

      {% with from=selection.from_display trans=source.translator %}
      {% if from != "None" or trans %}

      // added info
      .s-info

        {% if from %}
        | From {{ from }}.
        {% endif %}

        {% if trans %}
        | Translated from {{ source.language   }}
        | by {{ trans }} in {{ source.translation_year }}.
        {% endif %}

      {% endif %}
      {% endwith %}

    // EXTRAS
    ul.s-extras#sExtrasAccordion

      li.s-extras--li.uft-group
        .s-extras--trigger.m-left.uft-a.uft-trigger Show Highlight
        .s-highlight.uft-b
          .s-extras--utils
            span.s-extras--utils-i.s-highlight--another See Another
            span.s-extras--utils-i.uft-trigger Hide
          .s-extras--title A Highlight
          ul.s-highlight--text.hyphenate
            {% for q in quotations %}
            {% if forloop.counter == 1 %}
            li.s-highlight--li.m-active: a(href="/highlights/{{ q.pk }}") {{ q.get_quotation }}
            {% else %}
            li.s-highlight--li.m-inactive: a(href="/highlights/{{ q.pk }}") {{ q.get_quotation }}
            {% endif %}
            {% endfor %}
            .s-highlight--li.m-inactive.s-highlight--all: a(href="/highlights/\#{{ selection.source.author.slug }}") see all the highlights from this selection


      li.s-extras--li.uft-group
        .s-extras--trigger.uft-a.uft-trigger Show Tags
        .s-tags.m-top.uft-b
          .s-extras--utils
            span.s-extras--utils-i.uft-trigger Hide
          .s-extras--title Tags
          .s-tags--inst Click a tag to find other selections like this one.
          include includes/tag-sublist

      li.s-extras--li.shareit.m-seldesk
        .s-extras--title Share this Selection
        include includes/sel-share


    {% with ct=selection.comment_text ci=selection.comment_intro %}
    {% if ct or ci %}

    //comments
    .s-comments

      {% if ct %}
      .s-comment.m-text {{ selection.get_comment_text }}
      {% endif %}

      {% if ci %}
      .s-comment.m-intro {{ selection.get_comment_intro }}
      {% endif %}

    {% endif %}
    {% endwith %}


  //selection text
  .s-text.hyphenate {{ selection.get_text }}

  //postscript
  .s-postscript

    // mobile share
    .shareit.m-selmobile
      h3.s-postscript--h3 Share this Selection
      include includes/sel-share

    //tags
    .s-postscript--col.m-second
      .s-tags.m-bottom
        h3.s-postscript--h3 Tags
        .s-tags--inst Click a tag to find other selections like this one.
        include includes/tag-sublist

      .s-highlight--timeline See selections that surround this one in <a href="/timeline/\#{{ selection.source.pub_year }}"><cite>the Gentle Reader</cite>'s timeline</a>.

    .s-postscript--col.m-first
      //related selections
      .rsel
        h3.s-postscript--h3 Related Selections
        ul#relSelAccordion

          {% for item in related_selections %}
          include includes/related-selection
          {% endfor %}

  //post and modification dates
  .s-dates
    {% if selection.date_entered != selection.date_modified %}
    p Last modified: {{ selection.date_modified|date:"d F, G:i" }}, {{ year_modified }}
    {% endif %}
    p Originally posted: {{ selection.date_entered|date:"d F, G:i" }}, {{ year_entered }}

{% endblock %}