{% extends "base.html" %}

{% block title %}{{ selection }}, by {{ selection.get_author }} - The Gentle Reader{% endblock %}

{% block meta %}
meta(name="description", content="{{ selection }}, by {{ selection.get_author }}. {% if selection.from_display_safe %}{{ selection.from_display_safe }}.{% endif %} Brought to you by The Gentle Reader.")
{% endblock %}

// styles
{% block styles %}

{% if selection.stylesheet %}
// If the selection has its own stylesheet, get it.
link(rel="stylesheet", type="text/css", href="{{ STATIC_URL }}anthologist/stylesheets/selection-specific/{{ selection.stylesheet }}.css")
{% endif %}

{% endblock %}

// scripts
{% block bottomscripts %}

script(type="text/javascript", src="{{ STATIC_URL }}anthologist/lib/hyphenator.js")
script(type="text/javascript", src="{{ STATIC_URL }}anthologist/scripts/selection.js")

{% endblock %}

{% block main %}

// CONTENT
article.content

  // selection header
  header

    // title, author, date
    hgroup.s-headline
      h1.s-title {{ selection.get_title }}
      h2.s-authordate
        {% with author=selection.get_author year=selection.source.pub_year %}
        | <a href="/authors/{{ source.author.slug }}" title="Author: {{ author }}" rel="author">
        | {{ author }}</a> &mdash; <a href="/timeline&#35;{{ year }}" title="Published in {{ year }}">
        | {{ year }}</a>
        {% endwith %}
  
      {% with from=selection.from_display trans=source.translator %}
      {% if from != "None" or trans %}
       
      // added info
      .s-info
        
        {% if from != "None" %}
        {{ from }}.
        {% endif %}
        
        {% if trans %}
        | Translated from {{ source.langauge.name }}
        | by {{ trans }} in {{ source.translation_year }}.
        {% endif %}
      
      {% endif %}
      {% endwith %}
    
    // EXTRAS
    ul.s-extras#sExtrasAccordion.j-accMother
      
      li.s-extras--li.j-accItem.u-inactive
        .s-extras--trigger.u-left.j-accExpand.j-accTrigger Show Highlight
        .s-highlight.j-accBody
          .s-extras--utils
            span.s-extras--utils-i.s-highlight--another See Another
            span.s-extras--utils-i.j-accCollapse.j-accTrigger Hide
          .s-extras--title A Highlight
          ul.s-highlight--text.hyphenate
            {% for q in quotations %}
            {% if forloop.counter == 1 %}
            li.s-highlight--li.u-active {{ q.get_quotation }}
            {% else %}
            li.s-highlight--li.u-inactive {{ q.get_quotation }}
            {% endif %}
            {% endfor %}
            .s-highlight--li.u-inactive.s-highlight--all: a(href="#") see all the highlights for this selection

      
      li.s-extras--li.j-accItem.u-inactive
        .s-extras--trigger.j-accExpand.j-accTrigger Show Tags
        .s-tags.u-top.j-accBody
          .s-extras--utils
            span.s-extras--utils-i.j-accCollapse.j-accTrigger Hide
          .s-extras--title Tags
          .s-tags--inst Click a tag to find other selections like this one.
          include includes/tag-sublist 

    
    {% with ct=selection.comment_text ci=selection.comment_intro %}
    {% if ct or ci %}
    
    //comments
    .s-comments
      
      {% if ct %}
      .s-comment.u-text {{ selection.get_comment_text }}
      {% endif %}
      
      {% if ci %}
      .s-comment.u-intro {{ selection.get_comment_intro }}
      {% endif %}
    
    {% endif %}
    {% endwith %}
      
  
  //selection text
  .s-text.hyphenate {{ selection.get_text }}

  //postscript
  .s-postscript

    //tags
    .s-postscript--col.u-second
      .s-tags.u-bottom
        h3.s-postscript--h3 Tags
        .s-tags--inst Click a tag to find other selections like this one.
        include includes/tag-sublist
        
      .s-highlight--timeline See selections that surround this one in <a href="/timeline/&#35;{{ selection.source.pub_year }}"><cite>the Gentle Reader</cite>'s timeline</a>.	

    .s-postscript--col.u-first
      //related selections
      .rsel
        h3.s-postscript--h3 Related Selections
        ul#relSelAccordion.j-accMother
          
          {% for item in related_selections %}
          include includes/related-selection
          {% endfor %}

  //post and modification dates
  .s-dates
    {% if selection.date_entered != selection.date_modified %}
    p Last modified: {{ selection.date_modified|date:"d F, G:i" }}, {{ year_modified }}
    {% endif %}
    p Originally posted: {{ selection.date_entered|date:"d F, G:i" }}, {{ year_entered }}

{% endblock %}